<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>芯睿电脑维修</title>

</head>
<body>
	<nav class="nav-extended light-blue lighten-1" role="navigation"
		th:fragment="header">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo" style="margin-left: 10px">芯睿维修</a> <a href="#"
				data-activates="mobile-demo" class="button-collapse"><i
				class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down head-nav">
				<li class="home"><a href="/index">首页</a></li>
				<li class="huoyun"><a href="/huoyun">货运</a></li>
				<li class="lianxi"><a href="/lianxi">联系我们</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><div class="user-view">
						<div class="background">
						<img th:src="@{/assets/image/beijing.jpg}" width="100%"/>
						</div>
						<a href="#!user"><img class="circle" th:src="@{/assets/image/zhangmin.png}" /></a>
						<a href="#!name"><span class="white-text name">手机：</span></a>
						<a href="#!email"><span class="white-text email">15373258931</span></a>
					</div></li>
				<li id="home" class="home"><a href="/index">首页</a></li>
				<li class="huoyun"><a href="/huoyun">货运</a></li>
				<li class="lianxi"><a href="/lianxi">联系我们</a></li>
			</ul>
		</div>
	</nav>



</body>
</html>