
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>芯睿电脑维修</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		  rel="stylesheet" />
	<link th:href="@{/assets/materialize/css/materialize.css}" type="text/css"
		  rel="stylesheet" media="screen,projection" />
	<link th:href="@{/assets/materialize/css/style.css}" type="text/css"
		  rel="stylesheet" media="screen,projection" />
	<link rel="icon" type="image/x-icon" href="/static/global/image/favicon.ico" />


</head>
<body>
	<div th:replace="header :: header"></div>

	<div class="row">
		<div class="col s12 m12 l9">
			<div class="col s12 m12 l12">
				<div class="card">
					<div class="card-content">
						<span class="card-title center-align">维修项目</span>
						<div class="row">
							<div class="col s6 m3">
								<li>笔记本维修</li>
								<li>台式机维修</li>
								<li>显示器维修</li>
								<li>一体机维修</li>
							</div>
							<div class="col s6 m3">
								<li>手机维修</li>
								<li>平板电脑维修</li>
								<li>数码相机维修</li>
								<li>打印机维修</li>
							</div>
							<div class="col s6 m3">
								<li>复印机维修</li>
								<li>传真机维修</li>
								<li>投影仪维修</li>
								<li>数据恢复</li>
							</div>
							<div class="col s6 m3">
								<li>监控安防</li>
								<li>网络工程</li>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12 m12 l6">
					<div class="card">
						<div class="card-content">
							<span class="card-title">笔记本电脑维修</span>
							<ul>
								<li>笔记本不能开机、开机无显示、开机自检停滞</li>
								<li>笔记本花屏、蓝屏、散热、死机、掉电、重启、无法安装操作系统 </li>
								<li>不认硬盘、光驱、键盘、鼠标、风扇报错、不能连网</li>
								<li>解除开机密码、BIOS密码、解除各类开机报错</li>
								<li>显示类故障：花屏、屏暗、屏闪、屏幕亮线、亮带 </li>
								<li>电池故障：电池不充电、电池不放电、使用电池不能开机、电池供电时间缩短</li>
								<li>笔记本接口维修：电源口、USB口、打印口、COM口、VGA口、PS/2口 </li>
								<li>键盘串键、粘键、按键失灵、鼠标移动缓慢、鼠标失控</li>
								<li>配件更换:主板、液晶屏、外壳、屏轴、屏线、键盘、内存、硬盘、光驱、触摸板、BIOS烧录及升级</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l6">
					<div class="card">
						<div class="card-content">
							<span class="card-title">台式机、一体机、显示器维修</span>
							<ul>
								<li>开机无反应、开机黑屏、开机出错、开机报警、开机速度慢、自动关机、自动重启、异常死机、无规律关机、掉电、开机自检停滞；USB口、打印口、COM口、VGA口、PS/2口不能使用</li>
								<li>电脑蓝屏、花屏、键盘失灵、鼠标不动、对话框报错、桌面打不开、速度慢、电脑没有声音、麦克不能用、无法格式化、U盘或移动硬盘打不开、忘记密码解密、网速慢、上网掉线、杀毒软件报错、摄像头不能用、光驱不读盘、打印机脱机、网页打不开、不能上网、无法安装操作系统</li>
								<li>无线路由器安装调试，AP安装调试，无线桥接，局域网组建调试、共享上网、打印机共享设置，处理各类不能上网，网络中断掉线无线不好用，只能上QQ不能打开网页等故障</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12 m12 l6">
					<div class="card">
						<div class="card-content">
							<span class="card-title">数据恢复</span>
							<ul>
								<li>误删除，误格式化，误分区、误克隆</li>
								<li>硬盘摔坏，不识别，加电异响，滴滴响，磁头损坏维修</li>
								<li>硬盘没有任何反应，加电无任何工作迹象，指示灯不亮</li>
								<li>硬盘可以识别，反应很慢，一插上硬盘电脑会出现死机</li>
								<li>硬盘可以正常识别，但是不能写入文件或写出文件数据</li>
								<li>硬盘摔了不识别，插上提示格式化，分区变成 RWA格式</li>
								<li>硬盘出现卡机，死机，蓝屏，开机提示HDDerror等报错</li>
								<li>分区丢失，电机卡死，磁头损坏，盘片划伤，固件损坏</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l6">
					<div class="card">
						<div class="card-content">
							<span class="card-title">打印机维修、复印机维修、传真机维修</span>
							<ul>
								<li>不通电，卡纸，打印空白</li>
								<li>进纸异常、不连机，打印或复印时不清晰、不进纸</li>
								<li>打印机复印机加粉换鼓换墨盒</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col s12 m12 l3">
			<div class="card">
				<div class="card-image">
					<img src="assets/image/beijing.jpg" />
					<span class="card-title">芯睿维修</span>
				</div>
			</div>
			<div class="card">
				<div class="card-image">
					<img src="assets/image/bga.jpg" />
					<span class="card-title">芯睿维修</span>
				</div>
			</div>
			<div class="card">
				<div class="card-image">
					<img src="assets/image/shiboqi.jpg" />
					<span class="card-title">芯睿维修</span>
				</div>
			</div>
			<div class="card">
				<div class="card-image">
					<img src="assets/image/bijiben.jpg" />
					<span class="card-title">芯睿维修</span>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="footer :: footer"></div>
	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script th:src="@{/assets/materialize/js/materialize.js}"></script>
	<script th:src="@{/assets/materialize/js/init.js}"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".home").addClass("active");
		});
	</script>

</body>
</html>
